<section id="keep-in-touch" class="section section-light-grey is-medium">
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2 is-spaced">Keep in touch</h2>
        <h3 class="subtitle is-5 is-muted">
                Please complete the form below to help us shape WeCarry into the 
                best solution for hand-carry coordination.
        </h3>
        <div class="divider is-centered"></div>
      </div>
  
      <div class="content-wrapper">
        <div class="columns">
          <div class="column is-6 is-offset-2">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeUeBpon6A_cV2M5xLj6XCeOF1HP5eLEO0vqhxFrIAvuM7vkQ/viewform?embedded=true" 
                    width="640" height="2070" frameborder="0"
                    marginheight="0" marginwidth="0">Loading…</iframe>
          </div>
        </div>
      </div>
    </div>
  </section>